---
import PostList from '@/components/PostList.astro'
import { defaultLocale, moreLocales } from '@/config'
import Layout from '@/layouts/Layout.astro'
import { getPinnedPosts, getPostsByYear } from '@/utils/content'

export async function getStaticPaths() {
  type PathItem = {
    params: { index: string | undefined }
    props: { lang: string }
  }

  const paths: PathItem[] = []

  // Default locale
  paths.push({
    params: { index: undefined },
    props: { lang: defaultLocale },
  })

  // More locales
  moreLocales.forEach((lang: string) => {
    paths.push({
      params: { index: `${lang}/` },
      props: { lang },
    })
  })

  return paths
}

const { lang } = Astro.props

const pinnedPosts = await getPinnedPosts(lang)
const postsByYear = await getPostsByYear(lang)

// 将所有文章合并到一个数组中
const allPosts = []
for (const [_, posts] of postsByYear) {
  allPosts.push(...posts)
}
---

<Layout>
  <!-- All Posts Combined -->
  <section class="mb-7.5">
    <PostList posts={[...pinnedPosts, ...allPosts]} lang={lang} showTitle={true} />
  </section>
</Layout>
